{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<ul>
    <div class="Container">
        {%for product in products%}

        <div class="row " style=" border: 3px solid #cecece; margin-right: 2%">
            <div class="col-5">
                <img src="{{product.url}}">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-12">
                        <h2 style="text-align: left;"> {{product.name}}</h2>
                        <h4> <b>Initial Price:</b> {{product.currency.sign}}{{product.price}}</h4>
                        <h4><b>Description: </b>{{product.description}}</h4>
                        <p><b>Posted by: </b>{{product.owner}}</p>
                    </div>
                </div>


            </div>
        </div>

        <li>{{product}}</li>
        {% endfor %}
    </div>
</ul>
{% endblock %}